[submodule "triggerx-contracts"]
	path = contracts
	url = https://github.com/trigg3rX/triggerx-contracts
[submodule "triggerx-backend"]
	path = backend
	url = https://github.com/trigg3rX/triggerx-backend
[submodule "triggerx-frontend"]
	path = frontend
	url = https://github.com/trigg3rX/triggerx-frontend
